body {
    font-family: "Alata", sans-serif;
    font-size: 18px;
}

#person-1 p span {
    font-weight: bold;
}

#alias p span {
    font-style: italic;
}

h2{
    color: blue;
}

p{
    color: brown;
}