*{
    box-sizing: border-box;
}
.box {
    background: #f4f4f4;
    border: 2px solid #777;
    width: 500px;

    /* padding on all sides */
    padding: 30px;

    /* Padding per sides */
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px; */

    /* Margin per side */
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    /* Margin shorthand = top right  bottom left */
    margin: 10px 20px 10px 10px;

    /* Margin shorthand = top/bottom left/right */
    margin: 10px 20px;

    border-radius: 10px;
}