*{
    box-sizing: border-box;
}

.container {
    /* width = viewport size until viewport size = 960px */
    max-width: 960px;
    margin: 30px auto;
}

.box {
    background: #f4f4f4;
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 15px;
}

/* Text Alignment */
#box-1 p{
    text-align: left;
}
#box-2 p{
    text-align: right;
}
#box-3 p{
    text-align: center;
}
#box-4 p{
    /* justify alignment = parent alignment  */
    text-align: justify;
}

/* Float */
#box-2{
    float: left;
    width: 68%;
}

#box-3 {
    float: right;
    width: 30%;
}
.clr{
    clear: both;
}