body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: #333;
    text-decoration: none;
}

/* pseudo class */
a:hover{
    color: red;
}
a:active{
    color: coral;
}

.btn {
    background: #4c6ca0;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

.btn:hover {
    color: #f4f4f4;
    background: red;
}