h1{
    margin-top: 40px;
}
h2{
    color: white;
    background-color: rgb(26, 26, 83);
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

span{
    color: white;
    background-color:cornflowerblue;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
div{
    margin: 20px;
    color: white;
    background-color:cornflowerblue;
    padding: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
}
.block-to-inline{
    color:rgb(41, 79, 151);
    background-color: aqua;
    display: inline;
}
.inline-to-block{
    display: block;
    color:rgb(41, 79, 151);
    background-color: aqua;
}
.description{
    color: white;
    padding: 50px;
    background-color: rgb(20, 21, 61);
    margin-top: 30px;
    margin-bottom: 30px;
}
.space{
    width: 200px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.space-x{
    display: inline-block;
    width: 500px;
    height: 100px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}