li {
    padding: 0.25rem;
    margin: 0.25rem;
    list-style: none;
  }

  /* first child */
  li:first-child {
    background: red;
  }

  /* last child */
  li:last-child {
    background: blue;
    color: white;
  }

  /* nth child = used to select a specific child */
  li:nth-child(15) {
    background: purple;
  }

  /* every 3rd child */
  /* n = multiple 0 = offset */
  li:nth-child(3n + 0) {
    background: orange;
  }

  /* Every 3rd child after 7 */
  li:nth-child(3n + 7) {
    background: yellow !important;
  }

  /* Odd */
  li:nth-child(odd) {
    background: red !important;
  }

  /* even */
  li:nth-child(even) {
    background: green ;
  }