h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
h1.a {
    /* horizontal-shadow | vertical-shadow | color */
    text-shadow: 0.2rem 0.2rem steelblue;
}
h1.b {
    /* h-shadow | v-shadow | blur | color */
    text-shadow: 0.4rem 0.3rem 0.7rem steelblue;
}

h1.d {
    /* Negative Values */
    text-shadow: -0.4rem -0.3rem 0.7rem steelblue;
}
