.box{
    height: 100px;
    width: 100px;
}
#box-1{
    background-color:antiquewhite;
}
#box-2{
    background-color:chartreuse;
    /* display: none; */
    /* Display is deleted, and the space taken is also deleted */
}
#box-3{
    background-color:deeppink;
    /* visibility: hidden; */
    /*  Display is hidden but the space it takes still exists */
}
#box-4{
    background-color:rgb(177, 255, 255);
}